.container {
    display: flex;
    width: 1184.07px;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("public/background-Section-1.svg");
    background-position: bottom;
    background-repeat: no-repeat;
}


.texto {
    display: flex;
    height: 465px;
    padding: 67px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.titulo {
    color: #1D3557;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragrafo1 {
    color: var#263238;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paragrafo2 {
    color: #263238;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.imagem {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
}